body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.hero {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/imgs/Picture1.jpg');
    background-size: cover;
    background-position: center;
    z-index: -2;
    /* Behind the fog effect */
}

#vanta-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Above the background image but below the text */
}

nav {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}