@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto:wght@400;700&family=Lora:wght@400;700&family=Poppins:wght@400;600&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fbf6ed;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 1300px;
    border-radius: 8px;
    background-color: #fbf6ed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header {
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    padding: 20px;
    padding-bottom: 10px;
    color: white;
}

.header-title a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.header-title a:hover {
    color: #ffdd57;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    /* Smaller than previous for better hierarchy */
}

h2 {
    font-size: 1.6em;
    /* Adjusted size */
}

h3 {
    font-size: 1.45em;
    /* Adjusted size */
}

h4 {
    font-size: 1.3em;
    /* Adjusted size */
}

h5 {
    font-size: 1.2em;
    /* Adjusted size */
}

h6 {
    font-size: 1em;
    /* Adjusted size */
}

#vanta-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}


nav {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    /* Different font for navigation */
    font-weight: 400;
    /* Regular weight */
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffdd57;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* White background for content area */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


footer {
    text-align: center;
    padding: 20px 0;
    background: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 65%;
    justify-content: space-between;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    /* Different font for footer links */
}

footer ul li a:hover {
    color: #ffdd57;
}