---
layout: base
---

<link href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery-bundle.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/gallery.css' | relative_url }}">

<div class="preface">
    {{ content }}
</div>

<div id="gallery-container">
    <div id="lightgallery">
        {% for image in site.gallery %}
            <a class="item" href="{{ image.image_path | relative_url }}" data-sub-html=".caption">
                <img src="{{ image.image_path | relative_url }}" class="img-thumbnail" />
                <div class="caption">
                    <h6 id="img-title">{{ image.title }}</h6>
                    <p id="img-timestamp">{{ image.date_taken }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/lightgallery.umd.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        lightGallery(document.getElementById('lightgallery'), {
            thumbnail: true,
            selector: '.item',
            download: false,
            appendSubHtmlTo: '.lg-item',
            subHtmlSelectorRelative: true,
            getCaptionFromTitleOrAlt: true,
        });
    });
</script>